*__pycache__*
wandb*
swanlog*
output*
dataset_example/merge.py
predictions*
synthetic_traj_old*
old_files*
video_models_logs*
model_ckpt*
slurm*
synthetic_traj/*
synthetic_traj/Rollout*
dataset_example/droid_subset/annotation/val_old*
dataset_example/droid_new_setup_eval*
.vscode
process.py
